body{background-color:#ffe4c4;}.logout:hover{color:red;background-color:transparent;font-size:18px;display:inline;}
.logout{text-decoration:none;font-size:18px;display:inline;}img{box-shadow:1px 1px 5px #F66;border-radius:200px;}
.btn_search{border:6px dashed #ffe4c4;padding:2px;color:#FFF;background-color:FF0;width:50px;}.btn_search:hover{color:red;}